<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
	<Product
    Id="2448BC72-B2D2-41EA-8E82-74677519E40F"
    Name="AMGL"
    Language="1033"
    Version="0.0.0.1"
    Manufacturer="rhjoerg@gmail.com"
    UpgradeCode="74882E05-8C3E-4A0A-99C2-80FDE5528BF1">

		<Package
      InstallerVersion="301"
      Compressed="yes"
      InstallScope="perMachine"
			Manufacturer="rhjoerg@gmail.com"
      Description="Installs AMGL"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="AMGL" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
    
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="AMGL" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent" Guid="088A1D6F-79DE-492E-B4CA-BD913B62089C">
        <File Id="File_AmglExe" Source="../amgl-dist/amgl.exe" KeyPath="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
  
</Wix>
