<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
	<Product Name="AMGL" Language="1033" Version="0.0.0.1" Manufacturer="AMGL"
           Id="1D19376E-682A-4B7C-845B-423A087E2B71"  
           UpgradeCode="BEBD998D-9F2F-4B3B-A232-301449495104">
    
		<Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
             Description="AMGL Launcher" Manufacturer="AMGL" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
		<MediaTemplate EmbedCab="yes" />

    <Feature Id="AmglFeature" Level="1">
      <ComponentRef Id="AmglExeComp"/>
    </Feature>

	</Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="AMGL" />
      </Directory>
      <Directory Id="ProgramMenuFolder" />
      <Directory Id="DesktopFolder" />
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="AmglExeComp" Guid="04DA4E8B-94DE-4A59-BEDA-34C2CD99F5E0">
        <File Id="AmglExeFile" Name="amgl.exe" Source="../amgl-launcher/bin/Release/amgl.exe" KeyPath="yes">
          <Shortcut Id="StartMenuLink" Name="AMGL" Directory="ProgramMenuFolder" Advertise="yes" />
          <Shortcut Id="DesktopLink" Name="AMGL" Directory="DesktopFolder" Advertise="yes" />
        </File>
      </Component>
    </DirectoryRef>
  </Fragment>

</Wix>
